body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#container {
    width: 800px;
    margin: auto;
    background: #f9f9f9;
    padding: 0px 20px;
}

header {
    border-bottom: 2px solid #000;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
}

#content {
    height: 400px;
}

footer {
    border-top: 1px solid #000;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0px;
    bottom: 0px;
}

code {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin: 10px 0px;
    color: crimson;
    display: block;
}